        <div id="mofo_main_form">
            <div class="mofo_col1">
                <!--
                <div class="mofo_title_limit_container">
                    <label for="mofo_title_limit">Title character limit</label>
                    <input data-bind="value: titleLimit, valueUpdate: 'afterkeydown'" id="mofo_title_limit" />
                </div>
                <div class="mofo_snippet_limit_container">
                    <label for="mofo_snippet_limit">Snippet character limit</label>
                    <input data-bind="value: snippetLimit" id="mofo_snippet_limit" />
                </div>
                -->
            </div>
            <div class="mofo_col1">
                
            </div>
            <div style="clear:both"></div>
        </div>